body {
    background-color: rgb(199, 145, 250); /* Fondo lavanda suave */
    font-family: 'Poppins', sans-serif;
    color: #2c3e50; /* Texto oscuro (casi negro) para buen contraste */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1, h2, h3, h4 {
    color: #2c3e50; /* Encabezados con un color más oscuro para claridad */
    font-weight: 600;
}

p, span {
    color: #34495e; /* Gris más suave para los textos comunes */
}

/* Agregar transiciones suaves a los encabezados */
h1:hover, h2:hover, h3:hover, h4:hover {
    color: #8e44ad; /* Color púrpura en hover para los encabezados */
    transition: color 0.3s ease;
}
